<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="jawardellConnectionString" connectionString="Data Source=narcissa.valdosta.edu;Initial Catalog=jawardell;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="accessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Students\jawardell\App_Data\players.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <identity userName="vsu\jawardell" password="CLE-Vjo-xHf-3t3"/>
  </system.web>


</configuration>
